.action {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.action.-button {
    border: 3px solid var(--black1);
    padding: 10px;
    border-radius: 21px;
    transition: 0.6s all;
}

.action.-button:hover {
    background-color: var(--black1);
    color: var(--color1);
}

.action.-socialNetwork{
    margin-left: 0px;
}