.main-section {
    padding-top: 40px;
    padding-bottom: 80px;
}

.main-section.-banner {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 800px;
    border-bottom: 10px solid var(--black1);
}

.main-section .img-slider {
    width: 100%;
}

.main-section.-marsala {
    background-color: var(--color1);
    border-bottom: 10px solid var(--white);
    align-items: center;
}

.main-section.-white {
    background-color: var(--white);
    border-bottom: 10px solid var(--color1);
    align-items: center;
}

.main-section.-white.-contato{
    border-bottom: none;
}

.main-section.-marsala .wrapper{
    flex-direction: row;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 60px;
}

.main-section.-marsala .wrapper .description-flexbox{
    padding-right: 150px;
}

.main-section .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.position-form {
    padding-top: 40px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}