.main-title {
    font-family: 'Cormorant Garamond', serif;
    color: #fff;
    text-shadow: 0px 5px 4px black;
    font-weight: regular;
    font-size: 80px;
    text-align: center;
    
}

.main-title.-banner {
    color: var(--color1);
    padding-top: 460px;
    margin-left: 320px;
    margin-right: 320px;
}

.main-title.-marsala{
    color: var(--color1);
}

.main-title.-inbox {
    padding-top: 40px;
}